body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
  
footer {
    margin-top: auto;
}

a:link {
    color: #f68826;
}

a:visited {
    color: #5e42d8;
  }

a:hover {
    color: #8bc1e6;
  }

  a:active {
    color: #00478F;
  }

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f68826;
}

form, label {
    color: black !important;
}

input {
    color: black;
}

h5 {
    font-weight: 600;
    color: #f68826;
}

#mainNavbar {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup h1 {
    font-family: 'Merriweather', serif;
}

.navbar-brand {
    font-size: 2rem;
    letter-spacing: .15em;
}

.progressBold {
    text-transform: uppercase;
    font-weight: 700;
}

/* .section1 {
    background: #F23D4C;
} 

.section2 {
    background: #F2E1AE;
    color: black;
}

.section3 {
    background: #025E73;
}

.section4 {
    background: #5BD9AB;
}

*/

.sm-icons {
    flex-direction: row;
  }

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
      padding-right: 1em;
    }
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
